[submodule "vendor/AudioTestData"]
	path = vendor/AudioTestData
	url = https://github.com/teragonaudio/AudioTestData.git
[submodule "vendor/audiofile"]
	path = vendor/audiofile
	url = https://github.com/teragonaudio/audiofile.git
[submodule "vendor/flac"]
	path = vendor/flac
	url = https://github.com/teragonaudio/flac.git
[submodule "vendor/vst3sdk"]
	path = vendor/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
